<section class="section">
  <div class="container">
    <%= render partial: 'shared/notification' %>
    <h1 class="title">Meu carrinho</h1>
    <h2 class="subtitle">Confirme aqui seus produtos e faça seu pedido!</h2>

    <%= render @cart.cart_products %>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item">
        <%= link_to orders_path, method: :post, class: "button is-primary is-large is-light" do %>
        <span>Criar pedido</span>
        <span class="icon"><i class="fas fa-angle-right"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</section>
