<section class="section">
  <div class="container">
    <%= render partial: 'shared/notification' %>
    <h1 class="title">Meu carrinho</h1>
    <h2 class="subtitle">Confirme aqui seus produtos e faça seu pedido!</h2>

    <%= render @cart.cart_products %>
  </div>
</section>
