<section class="section">
  <div class="container">
    <%= render partial: 'shared/notification' %>
    <div class="columns is-multiline">
      <%= render @products %>
    </div>
  </div>
</section>
